<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/estilo.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>MarktSpace</title>
    {% load crispy_forms_tags %}
</head>

<body style="background: center center / cover no-repeat fixed #0E0B16;">
    <div class="caja-boton">
        <a href="{% url 'inicio' %}" class="boton"><button class="btn">Inicio</button></a> 
    </div>
    <div class="container right-panel-active">
        <!-- Sign Up -->
        <div class="container__form container--signup">
            <form action="{% url 'register' %}" class="form" id="form1" method="post" name="registrar">
                <h2 class="form__title">Registrarse</h2>{% csrf_token %}
                <input type="text" placeholder="Nombre de Ususario" name="username" class="form-control form-control-lg" />
                <input type="email" placeholder="Email" name="email" class="form-control form-control-lg" />
                <input type="password" placeholder="Contraseña" name="password" class="form-control form-control-lg" />
                <button class="btn">Registrarse</button><br>
                {% if messages %} 
                    {% for m in messages %}
                        <script>
                            Swal.fire({
                                "title": "¡UPSS!",
                                "text": "{{m}}",
                                "icon": "ERROR",
                            })
                        </script>
                    {% endfor %} 
                {% endif %}
            </form>
        </div>

        <!-- Sign In -->
        <div class="container__form container--signin">

            <form action="" class="form" id="form2" method="post">
                <h2 class="form__title">Inicio De Sesion</h2>{% csrf_token %} {{ form | crispy }}
                <button class="btn">Ingresar</button><br>
            </form>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn"><strong>Iniciar Sesion</strong></button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp"><strong>Registrarse</strong></button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const signInBtn = document.getElementById("signIn");
        const signUpBtn = document.getElementById("signUp");
        const fistForm = document.getElementById("form1");
        const secondForm = document.getElementById("form2");
        const container = document.querySelector(".container");

        signInBtn.addEventListener("click", () => {
            container.classList.remove("right-panel-active");
        });

        signUpBtn.addEventListener("click", () => {
            container.classList.add("right-panel-active");
        });
    </script>
    <!-- Code injected by live-server -->
</body>

</html>