{% extends 'app/layout.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}"> {% endblock %}
{% block contenido %}

<section class="section">
    <h1>Categorias</h1>
    <div class="hr">
        <hr>
    </div>
    <div class="menu">
        <div class="btn-group-vertical">
            {% for c in categorias %}
            <a href="{% url 'categorias' c.id %}" class="btn btn-outline-primary" type="button">
                        {{ c.nombre | title }}
            </a> {% endfor %}<a href="{% url 'inicio' %}" class="btn btn-outline-primary" type="button">
                Todos
            </a>
        </div>
    </div>
    <br>
    <h1>Estados</h1>
    <div class="hr">
        <hr>
    </div>
    <div class="menu">
        <div class="btn-group-vertical">
            {% for e in estados %}
            <a href="{% url 'estados' e.id %}" class="btn btn-outline-primary" type="button">
                        {{ e.nombre | title }}
            </a> {% endfor %}<a href="{% url 'inicio' %}" class="btn btn-outline-primary" type="button">
                Todos
            </a>
        </div>
    </div>
    <br>
</section>
{% load humanize %}
<aside>
    <div class="contenedor">
        {% for p in productos %}
        <div class="conte-img">
            {% if p.foto %}
            <img class="imagen" src="{{ p.foto.url }}" alt=""> {% endif %}
            <div class="texto">
                <h3 class="titulo">{{ p.nombre | title }}</h3>
                <p class="parrofo">
                    <a href="{% url 'vista' p.id %}" class="btn btn-primary" type="button" aria-controls="offcanvasWithBothOptions">Ver detalles</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</aside>
<br><br><br>

{% endblock %}